%section.sg-section
  %header
    %h1.sg-section-title Dependencies
    %p 
      These items are required for the site to display and perform correctly.
  .row-fluid
    .span12
      .row-fluid
        .span12
          .well
            %dl
              %dt Twitter Bootstrap
              %dd
                The entire site is built around the Twitter Bootstrap framework.
                =link_to "The Twitter Bootstrap website", "http://twitter.github.com/bootstrap/"
              %dt Jquery
              %dd 
                =link_to "The JQuery website", "http://jquery.com/"  
              / %dt Jquery UI
              / %dd  
              /   =link_to "The JQuery UI website", "http://jqueryui.com/" 

              %dt Compass
              %dd  
                =link_to "Compass, an open-source CSS Authoring Framework.", "http://compass-style.org/"  
        
                    
    
  %footer